/* Wrapper */
.wrapper {
  display: flex;
  height: 100vh;
  font-family: Poppins, sans-serif;
}

/* Left Section */
.leftSection {
  flex: 1;
  background: #e9f0fb;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #123a7d;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  margin-top: 10px;
  color: #345f9c;
  text-align: center;
}

.illustration {
  width: 85%;
  margin-top: 40px;
}

/* Right Section */
.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 70%;
}

.heading {
  font-size: 32px;
  margin-bottom: 8px;
}

.smallText {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #f7f7f7;
  font-size: 16px;
}

.linksRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
}

.signInBtn {
  width: 100%;
  padding: 12px;
  background: #000;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.googleBtn {
  width: 100%;
  padding: 12px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.googleIcon {
  width: 30px;
  margin-right: 20px;
}
.error-message {
  color: #ef4444;
  background-color: #fee2e2;
  border: 1px solid #fca5a5;
  padding: 0.75rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.875rem;
}
